body{
    background-color: #0f0f0f;
    color:white;

}
.actors{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:31px;
    .card{
        width: 145px;
        text-align: center;
        img{
            width: 100%;
            border-radius: 50%;
        }
        .name{
            width: 145px;
            height: 145px;
            border-radius: 50%;
            color: black;
            border: 1px solid white;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        h4{}
        p{
        }
    }
}
